<!DOCTYPE html>
<html lang="en">
<!-- offer general instructions on how to care for a cat -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/generic_layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="../../script/clock.js"></script>
    <script src="../../script/signature.js"></script>
    <title>Cat Care</title>
</head>

<body>
    <%- header %>
        <aside id="side-menu" tabindex="0">
            <!--Contains contextual navigation links, repeated-->
            <nav>
                <div class="icon-txt">
                    <a href="../index.ejs">
                        <img src="../../images/house-unfilled.png" alt="home">
                        <span class="pointer">Home</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="../find.ejs">
                        <img src="../../images/search-heart-unfilled.png" alt="find">
                        <span class="pointer">Find a dog/cat</span>
                    </a>
                </div>
                <div class="icon-txt active">
                    <a href="cat.ejs">
                        <img src="../../images/shield-cat-filled.png" alt="cat-shield">
                        <span class="pointer">Cat Care</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="dog.ejs">
                        <img src="../../images/shield-dog-unfilled.png" alt="dog-shield">
                        <span class="pointer">Dog Care</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="../give_away.ejs">
                        <img src="../../images/hand-holding-heart-unfilled.png" alt="give-away">
                        <span class="pointer">Have a pet to give away</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="../contact_us.ejs">
                        <img src="../../images/customer-service-unfilled.png" alt="contact-us">
                        <span class="pointer">Contact Us</span>
                    </a>
                </div>
            </nav>
        </aside>

        <main>
            <!--Main content displayed-->
            <h2>Cat Care</h2>
            <p>
                Morning:
                As the sun casts its golden rays upon your home, begin the day by greeting your regal feline friend with
                tender
                affection. Offer a delectable breakfast fit for royalty, ensuring a balanced meal rich in nutrients to
                fuel
                their day of leisure and exploration. After indulging their palate, engage in a gentle grooming session,
                using a
                luxurious brush to maintain their exquisite coat and strengthen the bond between guardian and cat.
            </p>

            <p>
                Midday:
                Amidst the serenity of the afternoon, create a sanctuary of tranquility for your cherished cat. Provide
                access
                to a cozy sunlit spot where they may bask in the warmth of the day, indulging in moments of quiet
                contemplation.
                Should they seek companionship, offer gentle conversation and affectionate strokes, reaffirming their
                esteemed
                place within your household.
            </p>
            <p>
                Evening:
                As dusk descends upon the horizon, usher in the evening with a sumptuous meal befitting their refined
                palate.
                Following their repast, engage in an enchanting play session, enticing your cat with elegant toys and
                stimulating activities to foster their physical and mental well-being. Before retiring for the night,
                ensure
                their sanctuary is adorned with plush bedding and comforting blankets, inviting them to rest and
                rejuvenate
                in
                the embrace of serenity.
            </p>
            <p>
                Throughout the Day:
                In every moment, remain attuned to the subtle nuances of your feline companion's needs and desires.
                Offer
                ample
                opportunities for affectionate interaction, reveling in the warmth of their companionship and the
                boundless
                joy
                they bring to your home. With each tender gesture and whispered reassurance, cultivate a relationship
                built
                on
                trust, mutual respect, and unwavering devotion.
            </p>

            <p>
                In essence, caring for your cherished cat transcends mere routine; it is an art form guided by love,
                compassion,
                and a profound appreciation for the majestic creatures that grace our lives.
            </p>

            Source: <a
                href="https://www.petplace.com/article/cats/pet-behavior-training/cat-behavior-training/normal-cat-behavior/perfect-cat-day-whats-ideal-cat-schedule">The
                Perfect Cat Day</a>
        </main>
        <%- footer %>
</body>

</html>