<!DOCTYPE html>
<html lang="en">
<!-- offer general instructions on how to care for a dog -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Care</title>
    <link rel="stylesheet" href="../../style/generic_layout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="../../script/clock.js"></script>
    <script src="../../script/signature.js"></script>
</head>

<body>
    <%- header %>
        <aside id="side-menu" tabindex="0">
            <!--Contains contextual navigation links, repeated-->
            <nav>
                <div class="icon-txt">
                    <a href="../index.ejs">
                        <img src="../../images/house-unfilled.png" alt="">
                        <span class="pointer">Home</span>
                    </a>
                </div>
                <div class="icon-txt">

                    <a href="../find.ejs">
                        <img src="../../images/search-heart-unfilled.png" alt="find">
                        <span class="pointer">Find a dog/cat</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="cat.ejs">
                        <img src="../../images/shield-cat-unfilled.png" alt="cat-shield">
                        <span class="pointer">Cat Care</span>
                    </a>
                </div>
                <div class="icon-txt active">
                    <a href="dog.ejs">
                        <img src="../../images/shield-dog-filled.png" alt="dog-shield">
                        <span class="pointer">Dog Care</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="../give_away.ejs">
                        <img src="../../images/hand-holding-heart-unfilled.png" alt="give-away">
                        <span class="pointer">Have a pet to give away</span>
                    </a>
                </div>
                <div class="icon-txt">
                    <a href="../contact_us.ejs">
                        <img src="../../images/customer-service-unfilled.png" alt="contact-us">
                        <span class="pointer">Contact Us</span>
                    </a>
                </div>
            </nav>
        </aside>

        <main>
            <!--Main content displayed-->
            <h2>Dog Care</h2>
            <p>
                Morning:
                As the first light of dawn graces your abode, greet your loyal canine companion with a warm embrace,
                setting
                the
                tone for a day filled with love and adventure. Begin with a nourishing breakfast tailored to their
                discerning
                taste, ensuring a blend of wholesome ingredients to fuel their boundless energy. Following their meal,
                embark on
                a leisurely stroll through the serene surroundings, allowing them to revel in the sights, sounds, and
                scents
                of
                the awakening world.
            </p>

            <p>
                Midday:
                Amidst the tranquil hours of midday, carve out a moment of respite for your devoted canine companion.
                Provide a
                cozy retreat where they may unwind in peaceful solitude or bask in the gentle warmth of the sun's
                embrace.
                Should they seek companionship, engage in playful interactions and stimulating activities, fostering a
                bond
                that
                transcends mere friendship and blossoms into an unbreakable partnership.
            </p>
            <p>
                Evening:
                As twilight descends upon the horizon, gather your faithful companion for a hearty supper, replete with
                delectable flavors and nourishing nutrients. Following their meal, embark on an enchanting adventure
                under
                the
                moonlit sky, exploring the winding paths and verdant landscapes that beckon to the adventurous spirit
                within.
                Before bidding adieu to the day, indulge in a soothing grooming session, tending to their coat with
                tender
                care
                and affection.
            </p>
            <p>
                Throughout the Day:
                In every moment, remain attuned to the subtle nuances of your canine companion's needs and desires.
                Offer
                ample
                opportunities for playful interaction, spirited exercise, and heartfelt moments of connection. With each
                tender
                gesture and whispered reassurance, cultivate a bond steeped in loyalty, trust, and unwavering devotion.
            </p>
            <p>
                In essence, caring for your cherished dog transcends mere routine; it is an art form guided by love,
                compassion,
                and a profound appreciation for the noble creatures that grace our lives.
            </p>


            Source: <a href="https://www.apartmenttherapy.com/daily-schedule-for-dogs-37063896">This Is the Ideal Daily
                Routine for Dogs, According to Veterinarians</a>
        </main>

        <%- footer %>
</body>

</html>